# Ganti dengan domain Railway kamu
PROXY_URL=https://proxy-reza-kontolodon-memek-luu.up.railway.app/

# Telegram Bot (opsional)
TG_BOT_TOKEN=your_bot_token_here
TG_CHAT_ID=your_chat_id_here

# Port (Railway auto set ini, jangan diubah)
PORT=3030
