# Ganti dengan domain Railway kamu
PROXY_URL=https://proxy-reza-kontolodon-memek-luu.up.railway.app/

# Telegram Bot (opsional)
TG_BOT_TOKEN=8785327072:AAGYOdijJsrZk8d2bokk5u1r8Pz3YpxGk6Y
TG_CHAT_ID=8223477911

# Port (Railway auto set ini, jangan diubah)
PORT=3030
